# How Do I Make a Reproducible DataFrame from my Existing DataFrame?

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/2018-09-18_flavors_of_cacao.csv')

In [4]:
df.head()

,Company (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [5]:
headers = list(df.columns)

In [27]:
headers

['Company\xa0\n(Maker-if known)',
 'Specific Bean Origin\nor Bar Name',
 'REF',
 'Review\nDate',
 'Cocoa\nPercent',
 'Company\nLocation',
 'Rating',
 'Bean\nType',
 'Broad Bean\nOrigin']

In [28]:
sof_headers = ['Company\xa0\n(Maker-if known)',
 'Specific Bean Origin\nor Bar Name',
 'REF',
 'Review\nDate',
 'Cocoa\nPercent',
 'Company\nLocation',
 'Rating',
 'Bean\nType',
 'Broad Bean\nOrigin']

In [29]:
df = df.iloc[0:10]

In [30]:
df

,Company (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
5,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315,2014,70%,France,3.50,,Cuba
7,A. Morin,Sur del Lago,1315,2014,70%,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319,2014,70%,France,4.00,,Peru

In [31]:
values = df.values

In [34]:
values

array([['A. Morin', 'Agua Grande', 1876, 2016, '63%', 'France', 3.75,
        '\xa0', 'Sao Tome'],
       ['A. Morin', 'Kpime', 1676, 2015, '70%', 'France', 2.75, '\xa0',
        'Togo'],
       ['A. Morin', 'Atsane', 1676, 2015, '70%', 'France', 3.0, '\xa0',
        'Togo'],
       ['A. Morin', 'Akata', 1680, 2015, '70%', 'France', 3.5, '\xa0',
        'Togo'],
       ['A. Morin', 'Quilla', 1704, 2015, '70%', 'France', 3.5, '\xa0',
        'Peru'],
       ['A. Morin', 'Carenero', 1315, 2014, '70%', 'France', 2.75,
        'Criollo', 'Venezuela'],
       ['A. Morin', 'Cuba', 1315, 2014, '70%', 'France', 3.5, '\xa0',
        'Cuba'],
       ['A. Morin', 'Sur del Lago', 1315, 2014, '70%', 'France', 3.5,
        'Criollo', 'Venezuela'],
       ['A. Morin', 'Puerto Cabello', 1319, 2014, '70%', 'France', 3.75,
        'Criollo', 'Venezuela'],
       ['A. Morin', 'Pablino', 1319, 2014, '70%', 'France', 4.0, '\xa0',
        'Peru']], dtype=object)

In [35]:
sof_values = [['A. Morin', 'Agua Grande', 1876, 2016, '63%', 'France', 3.75,
        '\xa0', 'Sao Tome'],
       ['A. Morin', 'Kpime', 1676, 2015, '70%', 'France', 2.75, '\xa0',
        'Togo'],
       ['A. Morin', 'Atsane', 1676, 2015, '70%', 'France', 3.0, '\xa0',
        'Togo'],
       ['A. Morin', 'Akata', 1680, 2015, '70%', 'France', 3.5, '\xa0',
        'Togo'],
       ['A. Morin', 'Quilla', 1704, 2015, '70%', 'France', 3.5, '\xa0',
        'Peru'],
       ['A. Morin', 'Carenero', 1315, 2014, '70%', 'France', 2.75,
        'Criollo', 'Venezuela'],
       ['A. Morin', 'Cuba', 1315, 2014, '70%', 'France', 3.5, '\xa0',
        'Cuba'],
       ['A. Morin', 'Sur del Lago', 1315, 2014, '70%', 'France', 3.5,
        'Criollo', 'Venezuela'],
       ['A. Morin', 'Puerto Cabello', 1319, 2014, '70%', 'France', 3.75,
        'Criollo', 'Venezuela'],
       ['A. Morin', 'Pablino', 1319, 2014, '70%', 'France', 4.0, '\xa0',
        'Peru']]

In [36]:
sof_df = pd.DataFrame(values, columns=sof_headers)

In [37]:
sof_df

,Company (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.5,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.5,,Peru
5,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315,2014,70%,France,3.5,,Cuba
7,A. Morin,Sur del Lago,1315,2014,70%,France,3.5,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319,2014,70%,France,4,,Peru